/*aplicando estilos al footer como background,padding */
.local2 {
    max-width: 90px;
    max-height: 70px;
}
.footer {
    text-align: center;
    background: linear-gradient(#ffffff, rgb(50, 91, 255));
    padding: 20px;
    font-family: sans-serif;
    font-size: larger;
    border: 1px solid black;
    margin-top: 400px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.copy{
  text-align: center;
  color: white;
  font-weight: bold;
}